
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;1,500&display=swap');


body{

    background-image: url(./img/table.jpg);
    background-size: cover;
    color:#fe9e09;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
body::-webkit-scrollbar {
    display: none;
}
.register{
    display: flex;
    border: 2px solid #fe9e09;
    border-radius: 70px 0 70px 0;
    width: 500px;
    height: 400px;

    margin: 0 auto;
}
.register_info{
    background-color: #000;
    background-image: url(./img/universo.jpg);
    background-size: cover;
    width: 50%;
    border-radius: 30px 0 0 0;
    display: flex;
    flex-direction: column-reverse;

}
.register_info .register_info_title{
    margin: 0 auto;
    padding-bottom: 25px;
    color: #fe9e09;
    font-size: 1.4rem;
    cursor: none;
    text-decoration:wavy
}
.register_section{
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: #00000071;
    padding: 10px 20px 20px 20px;
    border-radius: 0 0 30px 0;
    color:rgb(227, 186, 147);
}
.register_section_title{
    margin: -5px auto 5px auto;
    padding: 5px 0;
    cursor: none;
    color:#fe9e09;
}
.register_section_form{
    display: flex;
    flex-direction: column;
}

.register_form_label{
    width: 100%;
    margin-bottom: 2px;
    margin-top: 8px;
    color: #fe9e09;
    font-size: .9rem;
    letter-spacing: .3rem;
}
.register_from_input{
    border-radius: 10px 0 10px 0;
    width: 100%;
    height: 20px;
    border: 1px solid #fe9e09;;
    color: #fe9e09;
    outline: none;
    background-color: rgba(0, 0, 0, 0.771);

}
.register_from_input::placeholder{
    text-align: center;
    color: #a5d8d8;
}
.register_form_submit{
    width:70%;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px;
    border: 0;
    background-color:#fe9c09b9;;
    border-radius: 10px 0 10px 0;
    cursor: alias;
    color: black;
    font-size: bolder;
}
.register_form_submit:hover{
    background-color: #000;
    color: white;
    border: 1px solid white;
}
.register_form_links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    font-size: .9rem;
}

.register_section_links{
    text-decoration: none;
    color: #fe9e09;
}
.register_form_checbox_container{
    margin: 10px 0 0 0 ;
}
.register_form_links_container{
    display: flex;
    flex-direction: column;
}
.register_form_link_forgot{
    margin: 0 auto;
    margin-top: 5px;
    text-decoration: none;
    color: rgb(102, 186, 214);
    font-size: .8rem;
}

.good_data_input{
    border: 1px solid rgb(78, 196, 126);
    outline: none;
}
.bad_data_input{
    border: 1px solid rgb(199, 115, 87);
    outline: none;
}

@media (max-width:720px) {
    .register_info{
        display: none;
    }
    .register{
        border:0;
        width: 300px;

    }
    .register_section{
        width: 100%;
    }
}